ACTION=="add", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="00f8", SYMLINK+="lifecam"
ACTION=="add", ATTRS{idVendor}=="1415", ATTRS{idProduct}=="2000", SYMLINK+="ps-eyecam"
ACTION=="add", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0779", SYMLINK+="lifecam3k"
